{% extends 'front-office/base.html.twig' %} {% block title %}Présentation{%
endblock %} {% block body %}
<h1>
  Once upon a time in Merignac a bibliothécaire called La dame de la
  bibliothèque blablabla...
</h1>
{% endblock %}
