{% extends 'admin/base.html.twig' %} {% block title %}Admin panel{% endblock %}
{% block body %}
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nihil est
  neque necessitatibus dolor sit molestiae. Reiciendis aliquam assumenda, illo
  quo atque distinctio omnis porro vero expedita blanditiis tempore dolores?
</p>
{% endblock %}
