<!-- Navigation-->
<nav class="navbar navbar-light static-top">
  <div class="container">
    <a class="navbar-brand" href={{path("public-home")}}>Merignatech</a>
    <a href={{path("public-presentation")}}>Presentation</a>
    <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn btn-outline-success btn-sm">Log in</a>
  </div>
</nav>


{{ render(controller('App\\Controller\\SecurityController::loginModal')) }}