<!DOCTYPE html>

<title>New Book</title>

{% block body %}
    <h1>Create new Book</h1>

    {{ include('book_form/_form.html.twig') }}

    <a href="{{ path('book_form_index') }}">back to list</a>
{% endblock %}
