<!-- Navigation-->
<nav class="navbar navbar-light bg-ivoire static-top">
  <div class="container">
    <a class="navbar-brand" href={{path("public-home")}}>Merignatech</a>
    <a href={{path("public-presentation")}}>Presentation</a>
    <a class="btn btn-primary-grey" href={{path("admin-home")}}>Sign Up</a>
  </div>
</nav>