{% extends 'back-office/base.html.twig' %} {% block title %}Admin panel{%
endblock %} {% block body %}
<h1>Edit Author</h1>

{{ include('back-office/author/_form.html.twig', { button_label: 'Update' }) }}

<a href="{{ path('author_form_index') }}">back to list</a>

{{ include('back-office/author/_delete_form.html.twig') }}
{% endblock %}
